
/* ♦ MENU ♦*/
#menu{
    background-color: #08192b;
    
}

#menu li{
    display: inline;
    padding: 10px;
}
#menu li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#menu li a:hover{
    color: red;
}

/*Estilo da página Index*/

.center{
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content:center;
    align-items: center;
}
.p-30{
padding: 30px;
}

.br-20{
    border-radius: 20%;
}

.border{
    border: solid 1px black;
}
/*Estilo da página Contato*/

/*Footer*/
footer{
    background-color:#08192b;
    color: white;
}


.tm-social{
    width: 55px;
    height: 55px;
}

/*Margin Bootom*/
.mb-50{
    margin-bottom: 50px;
}

.ml-50{
    margin-left: 50px;
}

/*text*/
.justify{
    text-align: justify;
}